<header class="header-admin">
    <div class="grid">
        <nav class="header__navbar-admin">
            <div class="header__navbar-left-admin">
                <div class="header__navbar-list-left-admin">
                    <div class="pentagon-admin"></div>
                    <div class="header__navbar-item-adminheader__navbar-item">
                        <a href="" class="header__navbar-item-link-admin">DANASA</a>
                    </div>
                </div>
            </div>
            <div class="header__navbar-right-admin">
                <div class="search-field">
                    <div class="input-group">
                        <div class="input-group-icon-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" class="input-search" placeholder="Tìm kiếm">
                    </div>
                </div>

                <div class="header__navbar-right-2">
                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button"
                                class="nav-link count-indicator dropdown-toggle btn btn-primary-notifi"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div>

                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button" class="nav-link count-indicator dropdown-toggle btn btn-primary-mess"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-envelope"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div>

                    <div class="nav-item nav-profile">
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle btn btn-primary" style="position: relative;
                                padding: 3rem 0;" aria-haspopup="true" aria-expanded="false">
                                <div class="nav-profile-text">
                                    <p class="mb-1 text-black">Xin chào Admin!</p>
                                </div>
                            </button>
                            <button class="logout-admin">
                                <a href="/login/logout" class="nav-profile-img">
                                    <i class="fa-solid fa-right-from-bracket" style="font-size: 2rem; color: #2a4e8a;"></i>
                                    <span class="availability-status online"></span>
                                </a>
                            </button>
                            <div class="show-drop-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        </nav>
    </div>
</header>
<div class="container-page-admin-wrap">
    <div class="grid" style="display: flex;">
        <div class="sidebar">
            <ul>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-chart-line"></i>
                            <a href="#">Thống kê</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/statistics">Doanh thu</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/sales">Doanh số</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-newspaper"></i>
                            <a href="#">Tin tức </a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>
                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-news">Xem tin tức</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-news">Tạo tin tức</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-sharp fa-solid fa-user" style="font-size: 1.5rem;"></i>
                            <a href="#">Tài khoản</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-cus">Xem tài khoản</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/delete-cus" >Xóa tài khoản</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-regular fa-calendar-days" style="font-size: 1.5rem;"></i>
                            <a href="#">Lịch trình</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-schedule" >Xem lịch trình</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-schedule">Tạo lịch trình</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
        <!-- <div class="grid"> -->
        <div class="container-admin">
            <div class="title-admin">
                <i class="fa-solid fa-trash create-icon"></i>
                <div class="title-content">XÓA LỊCH TRÌNH</div>
                <div class="title-line"></div>
            </div>

            <div class="container-create__schedule">
                <form id="create-form__schedule" class="form">
                    <div class="message-error">
                        <p>Lưu ý: {{message}}</p>
                    </div>
                    <div class="form-group--large">
                        <div class="form-group width-item-35">
                            <label for="id-schedule" class="form-label form-schedule">ID :</label>
                            <input id="id-schedule" name="id-schedule" type="text" class="form-control-schedule"
                                value="{{schedule.idSchedule}}" disabled>
                            <!-- <span class="form-message"></span> -->
                        </div>
                        <div class="form-group width-item-35">
                            <label for="route" class="form-label form-schedule">Tuyến :</label>
                            <input id="route" name="route" class="form-control-schedule" disabled value="{{schedule.firstProvince}} - {{schedule.secondProvince}}">                            
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-35">
                            <label for="start-province" class="form-label form-schedule">Tỉnh đi :</label>
                            <input id="start-province" name="start-province" class="form-control-schedule" disabled value="{{schedule.startProvince}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-35">
                            <label for="end-province" class="form-label form-schedule">Tỉnh đến :</label>
                            <input id="end-province" name="end-province" type="text" class="form-control-schedule"
                                value="{{schedule.endProvince}}" disabled>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-35">
                            <label for="start-station" class="form-label form-schedule">Bến đi :</label>
                            <input id="start-station" name="start-station" class="form-control-schedule" disabled value="{{schedule.startStation}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-35">
                            <label for="end-station" class="form-label form-schedule">Bến đến :</label>
                            <input id="end-station" name="end-station" class="form-control-schedule" disabled value="{{schedule.endStation}}">
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-28">
                            <label for="start-time" class="form-label form-schedule">Thời gian khởi hành :</label>
                            <input id="start-time" name="start-time" type="time" class="form-control-schedule" disabled value="{{schedule.start}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-28">
                            <label for="end-time" class="form-label form-schedule">Thời gian cập bến :</label>
                            <input id="end-time" name="end-time" type="time" class="form-control-schedule" disabled value="{{schedule.end}}">
                        </div>
                        <div class="form-group width-item-28">
                            <label for="start-date" class="form-label form-schedule">Ngày khởi hành :</label>
                            <input id="start-date" name="start-date" type="date" class="form-control-schedule" disabled value="{{schedule.day}}">
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-28">
                            <label for="price" class="form-label form-schedule">Giá :</label>
                            <input id="price" name="price" type="text" class="form-control-schedule" value="{{schedule.price}}" disabled>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-28">
                            <label for="type-coach" class="form-label form-schedule">Loại xe :</label>
                            <input id="type-coach" name="type-coach" class="form-control-schedule" disabled value="{{schedule.typeName}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-28">
                            <label for="license-plate" class="form-label form-schedule">Biển số xe :</label>
                            <input id="license-plate" name="license-plate" class="form-control-schedule" disabled value="{{schedule.licensePlate}}">
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="sub-info__schedule">
                        <div class="duration">Thời gian dự kiến: {{schedule.hours}} tiếng</div>
                        <div class="number-seat">Số lượng: {{schedule.numberOfSeat}} ghế</div>
                    </div>

                    <div class="message-error"></div>
                    <div class="container-submit">
                        <button id="{{schedule.idSchedule}}" class="form-submit">
                            <span>Remove</span>
                            <i class="fa-solid fa-xmark" style="font-size: 2rem; margin-left: 0.3rem;"></i>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var navLinkParents = document.querySelectorAll(".nav-link-parent");
    var DelBtn = document.querySelector('.form-submit');
    var DelForm = document.getElementById('create-form__schedule');
    var id = DelBtn.id;
    DelBtn.onclick = function(){
        var message ='';
        if ({{impact}}) message = 'Sẽ xóa lịch trình phía sau nó. ';
        if(window.confirm(`${message}Bạn có chắc chắn muốn xóa lịch trình này không ?`)){
            DelForm.method = 'POST';
            DelForm.action = `/admin/delete-schedule/${id}`;
            DelForm.submit();
        }
    }
        
    navLinkParents.forEach((navLinkParent) => {
        var dropdownIcon = navLinkParent.querySelector(".dropdown");
        navLinkParent.addEventListener("click", (event) => {
            event.stopPropagation();
            var navLinkShow = navLinkParent.nextElementSibling;
            navLinkShow.classList.toggle("active");
            dropdownIcon.classList.toggle("fa-caret-down");
            dropdownIcon.classList.toggle("fa-caret-up");
        });
    });

    var item = document.querySelectorAll(".nav-link-show-item");
    item.forEach((a) => {
        var b = a.querySelector("i");
        a.addEventListener("click", () => {
            b.classList.toggle("fa-caret-right");
        })
    })
</script>