<header class="header-admin">
    <div class="grid">
        <nav class="header__navbar-admin">
            <div class="header__navbar-left-admin">
                <div class="header__navbar-list-left-admin">
                    <div class="pentagon-admin"></div>
                    <div class="header__navbar-item-admin">
                        <a href="" class="header__navbar-item-link-admin">DANASA</a>
                    </div>
                </div>
            </div>
            <div class="header__navbar-right-admin">
                <div class="search-field">
                    <div class="input-group">
                        <div class="input-group-icon-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" class="input-search" placeholder="Tìm kiếm">
                    </div>
                </div>

                <div class="header__navbar-right-2">
                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button"
                                class="nav-link count-indicator dropdown-toggle btn btn-primary-notifi"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div>

                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button" class="nav-link count-indicator dropdown-toggle btn btn-primary-mess"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-envelope"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div>

                    <div class="nav-item nav-profile">
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle btn btn-primary" style="position: relative;
                                padding: 3rem 0;" aria-haspopup="true" aria-expanded="false">
                                <div class="nav-profile-text">
                                    <p class="mb-1 text-black">Xin chào Admin!</p>
                                </div>
                            </button>
                            <button class="logout-admin">
                                <a href="/login/logout" class="nav-profile-img">
                                    <i class="fa-solid fa-right-from-bracket" style="font-size: 2rem; color: #2a4e8a;"></i>
                                    <span class="availability-status online"></span>
                                </a>
                            </button>
                            <div class="show-drop-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        </nav>
    </div>
</header>
<div class="container-page-admin-wrap">
    <div class="grid" style="display: flex;">
        <div class="sidebar">
            <ul>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-chart-line"></i>
                            <a href="#">Thống kê</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/statistics">Doanh thu</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/sales">Doanh số</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-newspaper"></i>
                            <a href="#">Tin tức </a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>
                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-news">Xem tin tức</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-news">Tạo tin tức</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-sharp fa-solid fa-user" style="font-size: 1.5rem;"></i>
                            <a href="#">Tài khoản</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" ></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-cus">Xem tài khoản</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/delete-cus" >Xóa tài khoản</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-regular fa-calendar-days" style="font-size: 1.5rem;"></i>
                            <a href="#">Lịch trình</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-schedule" >Xem lịch trình</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-schedule">Tạo lịch trình</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
        <!-- <div class="grid"> -->
        <div class="container-admin">
            <div class="title-admin">
                <i class="fa-solid fa-eye eye-icon"></i>
                <div class="title-content">XEM LỊCH TRÌNH</div>
                <div class="title-line"></div>
            </div>

            <div class="container-cbb">
                <select name="province_first" id="" class="cbb__start cbb-admin">
                    <option value="-1">-- Tỉnh đi --</option>
                    <option value="0">All</option>
                    {{#each provinces}}
                    <option value="{{this.idProvince}}">{{this.provinceName}}</option>
                    {{/each}}
                </select>
                <select name="province_second" id="" class="cbb__end cbb-admin">
                    <option value="-1">-- Tỉnh đến --</option>
                    <option value="0">All</option>
                    {{#each provinces}}
                    <option value="{{this.idProvince}}">{{this.provinceName}}</option>
                    {{/each}}
                </select>
                <select name="" id="" class="cbb__time cbb-admin">
                    <option value="-1">Thời gian</option>
                    <option value="0">All</option>
                    <option value="1">0h-6h</option>
                    <option value="2">6h-12h</option>
                    <option value="3">12h-18h</option>
                    <option value="4">18h-24h</option>
                </select>
            </div>
            <script>
                var cbb__start = document.querySelector('.cbb__start');
                var cbb__end = document.querySelector('.cbb__end');
                var cbb__time = document.querySelector('.cbb__time');
                cbb__start.value = {{start}};
                cbb__end.value = {{end}};
                cbb__time.value = {{time}};
            </script>

            <div class="container-table">
                <div class="table__schedule">
                    <div class="table-head__schedule">
                        <div class="tbhead-start tbhead-item">Điểm đi</div>
                        <div class="tbhead-end tbhead-item">Điểm đến</div>
                        <div class="tbhead-time tbhead-item">Thời gian</div>
                        <div class="tbhead-price tbhead-item">Giá tiền</div>
                        <div class="tbhead-licenseplate tbhead-item">Biển số xe</div>
                        <div class="tbhead-delete tbhead-item"></div>
                        <div class="tbhead-edit tbhead-item"></div>
                    </div>
                    {{#each schedule}}
                    <div id="{{this.idSchedule}}" class="table-body__schedule">
                        <div class="section-item start">
                            <div class="section-subitem">{{this.startProvince}}</div>
                            <div class="section-subitem italic">{{this.startStation}}</div>
                        </div>
                        <div class="section-item end">
                            <div class="section-subitem ">{{this.endProvince}}</div>
                            <div class="section-subitem italic">{{this.endStation}}</div>
                        </div>
                        <div class="section-item time">
                            <div class="section-subitem">{{this.start}} - {{this.end}}</div>
                            <div class="section-subitem italic">{{this.day}}</div>
                        </div>
                        <div class="section-item price">{{this.price}}</div>
                        <div class="section-item license-plate">{{this.licensePlate}}</div>
                        <a href="/admin/delete-schedule/{{this.idSchedule}}" class="section-item icon-delete">
                            <i class="fa-solid fa-x"></i>
                        </a>
                        <a href="/admin/edit-schedule/{{this.idSchedule}}" class="section-item icon-edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <div class="index">
                    <ul class="page-index inline">
                        <li class="page-item page-prev">
                            <a href="/admin/list-schedule?start={{start}}&end={{end}}&time={{time}}&page={{prev}}" class="page-link arrow">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </li>
                        <li class="page-item page-now">
                            <a class="page-link disable-page">{{current}}</a>
                        </li>
                        <li class="page-item page-next">
                            <a href="/admin/list-schedule?start={{start}}&end={{end}}&time={{time}}&page={{next}}" class="page-link arrow">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {{!-- <div class="index">
                    <ul class="page-index inline">
                        <li class="page-item"><a href="" class="page-link arrow"><i
                                    class="fa-solid fa-arrow-left"></i></a></li>
                        <li class="page-item page-now"><a href="" class="page-link">1</a></li>
                        <li class="page-item"><a href="" class="page-link">2</a></li>
                        <li class="page-item"><a href="" class="page-link arrow"><i
                                    class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </div> --}}
            </div>
        </div>
        <!-- </div> -->
    </div>


</div>
<a id="change" href=""></a>
<script>
    var navLinkParents = document.querySelectorAll(".nav-link-parent");
    var cbb__start = document.querySelector('.cbb__start');
    var cbb__end = document.querySelector('.cbb__end');
    var cbb__time = document.querySelector('.cbb__time');
    var pagePrev = document.querySelector('.page-prev');
    var pageNow = document.querySelector('.page-now');
    var pageNext = document.querySelector('.page-next');
    pageNow.onclick = function(e){
        e.preventDefault();
    }
    pagePrev.onclick = function(e){
        if({{current}}===1) {
            e.preventDefault();
        }
    }
    pageNext.onclick = function(e){
        if({{current}}==={{max__page}}) e.preventDefault();
    }
    var alink = document.querySelector('#change');
    cbb__start.onchange = function(){
        alink.href = `/admin/list-schedule?start=${cbb__start.value}&end=${cbb__end.value}&time=${cbb__time.value}&page={{current}}`;
        alink.click();
    }
    cbb__end.onchange = function(){
        alink.href = `/admin/list-schedule?start=${cbb__start.value}&end=${cbb__end.value}&time=${cbb__time.value}&page={{current}}`;
        alink.click();
    }
    cbb__time.onchange = function(){
        alink.href = `/admin/list-schedule?start=${cbb__start.value}&end=${cbb__end.value}&time=${cbb__time.value}&page={{current}}`;
        alink.click();
    }
    navLinkParents.forEach((navLinkParent) => {
        var dropdownIcon = navLinkParent.querySelector(".dropdown");
        navLinkParent.addEventListener("click", (event) => {
            event.stopPropagation();
            var navLinkShow = navLinkParent.nextElementSibling;
            navLinkShow.classList.toggle("active");
            dropdownIcon.classList.toggle("fa-caret-down");
            dropdownIcon.classList.toggle("fa-caret-up");
        });
    });

    var item = document.querySelectorAll(".nav-link-show-item");
    item.forEach((a) => {
        var b = a.querySelector("i");
        a.addEventListener("click", () => {
            b.classList.toggle("fa-caret-right");
        })
    })
</script>