<div class="table__schedule" id="dataList">
    <div class="table-head__schedule">
        <div class="tbhead-stt tbhead-item">STT</div>
        <div class="tbhead-route tbhead-item">Tuyến</div>
        <div class="tbhead-revenue tbhead-item">Doanh số</div>
    </div>
    {{#each newsListSales}}
    <div class="table-body__schedule">
        <div class="section-item stt">{{STT}}</div>
        <div class="section-item route">{{firstProvince}} - {{secondProvince}}</div>
        <div class="section-item revenue">{{totalTicket}} vé</div>
    </div>
    {{/each}}

    <div class="index">
        <ul class="page-index inline">
            <li class="page-item">
                {{#if prev}}
                <a href="/admin/detail-sales-quy?page={{prev}}" class="page-link arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                {{else}}
                <a class="page-link arrow disabled" disabled>
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                {{/if}}
            </li>
            <li class="page-item page-now">
                <a href="/admin/detail-sales-quy?page={{current}}" class="page-link">{{current}}</a>
            </li>
            <li class="page-item">
                {{#if next}}
                <a href="/admin/detail-sales-quy?page={{next}}" class="page-link arrow">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                {{else}}
                <a class="page-link arrow disabled" disabled>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                {{/if}}
            </li>
        </ul>
    </div>
</div>