<div class="list-history" id="dataList">
    {{#each historyList}}
    <div class="container__content-route-history">
        <div class="header-time">
            {{startTime}}
            <i class="fa-solid fa-arrow-right"></i>
            {{endTime}}
            <span class="date-go">
                {{startDate}}
            </span>
            <div class="utilities">
                <i class="fa-sharp fa-solid fa-mug-hot"></i>
                <i class="fa-solid fa-bed"></i>
                <i class="fa-sharp fa-solid fa-wifi"></i>
            </div>
        </div>
        <div class="route-line-container">
            <div class="route-line-list">
                <div class="route-line goFrom">
                    <i class="fa-solid fa-circle-dot"></i>
                    {{startStation}}
                    <div class="route">Xe tuyến: {{distance}} km - {{hour}} tiếng</div>
                </div>

                <div class="route-line destination">
                    <i class="fa-solid fa-location-dot"></i>
                    {{endStation}}
                </div>
            </div>
        </div>

        <div class="info-ticket">
            <div class="info-slot" style="color: #676161;">
                Số ghế: <span style="color: black; font-weight: 600;">{{nameSeat}}</span>
            </div>

            <div class="price-ticket">
                <span class="title-money">TỔNG TIỀN</span>
                <span class="price" style="color: #4B8EFA; font-weight: 600; padding-left: 10px;">{{Totalprice}}đ</span>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="index">
        <ul class="page-index inline">
            <li class="page-item">
                {{#if prev}}
                <a href="/history-buy-ticket?page={{prev}}" class="page-link arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                {{else}}
                <a class="page-link arrow disabled" disabled>
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                {{/if}}
            </li>
            <li class="page-item page-now">
                <a class="page-link disable-page">{{current}}</a>
            </li>
            <li class="page-item">
                {{#if next}}
                <a href="/history-buy-ticket?page={{next}}" class="page-link arrow">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                {{else}}
                <a class="page-link arrow disabled" disabled>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                {{/if}}
            </li>
        </ul>
    </div>
</div>